package view

templ HomeView() {
	@Base() {
		<div class="container">
			<div>
				<hgroup>
					<h1 hx-get="/dashboard" hx-trigger="click" hx-swap="innerHTML">Home</h1>
					<h2>Welcome to the home page</h2>
				</hgroup>
			</div>
		</div>
	}
}
